{% extends "base.html.twig" %}

{% block body %}
    <h1 style="color: #eceff4; padding: 15px; display:flex; justify-content: center">AJOUTER UNE DEPENSE</h1>
    <div style="color: #eceff4; padding: 15px; display: flex; justify-content: center">
        {{ form(formulaire) }}
    </div>

    <style>

    </style>
{% endblock %}