{% extends "base.html.twig" %}

{% block body %}
    <div style="color: #eceff4; padding: 15px; display:flex; justify-content: center">
    <h1>Modifier l'ardoise {{ ardoise.nom}}</h1>
    </div>
    <div style="color: #eceff4; padding: 15px; display:flex; justify-content: center">
            {{ form(formulaire) }}
    </div>
    <div style="color: #eceff4; padding: 15px; display:flex; justify-content: center">
    <a class="btn btn-warning" href="{{ path("ardoises") }}">Retour à la liste </a>
    </div>
{% endblock %}
