{% extends "base.html.twig" %}

{% block body %}
    <h1>Voulez-vous vraiment supprimer la catégorie {{ categories.nom }} ?</h1>
    {{ form(formulaire) }}
    <a class="btn btn-warning" href="{{ path("categories") }}">Retour à la liste </a>
{% endblock %}