<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ path("ardoises") }}"><i class="fas fa-money-check-edit-alt"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="{{ path("ardoises") }}">Home</a>
            </li>
            {%  for a in ardoises %}
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path("ardoises_depenses",{"id":a.id}) }}" style="color: cornflowerblue">{{ a.nom }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>